.banner {
  width: 40%;
  height: 40px;
  background-color: #d4bfff;
  color: white;

  display: inline-flex;
  align-items: center;

  padding-center: 500px;
  box-sizing: content-box;
}

.banner h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}
